h1 {
    font-weight: bold;
    font-size: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color:peru;
    display: block;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 0;
    padding-right: 0;
}
h2 {
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color:blanchedalmond;
    text-align: center;
}
h3 {
    font-size: 2vw;
    margin-left: 30%;
    margin-top: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color:rgb(247, 240, 230);
    text-align: center;
}
p{
    font-size: 2vw;
    margin-left: 40%;
    margin-right: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color:rgb(247, 240, 230);
    text-align: center;

}
body {
    background-image: url('https://img.freepik.com/free-photo/3d-wooden-table-looking-out-smoky-room_1048-12585.jpg?w=740&t=st=1706196713~exp=1706197313~hmac=9049da805067060fe2cb8632427a861db145cb17bef2243150b6cedb0212b2ad.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 35%;
    bottom: 0;
    width: 0.5%;
    height: 70%;
    background-color:beige;
    margin-top: 9.5% ;
  }
.banner-card img {
    width: 25%;
    height: 25%;
    float: left;
    margin-top: 4%;
    margin-left: 3%;
  }
  .banner-text h4 {
position:absolute;
font-size: 170%;
top: 8%;
color: blanchedalmond;
margin-left: 1.7%;
padding: 20px
  }
  ul{
    font-size: 2vw;
    margin-left: 40%;
    margin-top: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color:blanchedalmond;
  }
